@import url("https://fonts.googleapis.com/css2?family=Metrophobic&family=Quicksand:wght@300;400;500;600;700&display=swap");
section {
  padding: 10vh 6vw; }
  section .title {
    width: 100%;
    color: #12466a;
    margin-bottom: 20px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    line-height: 1.3em;
    letter-spacing: 0.01em;
    font-size: 1.8em;
    white-space: normal; }
    section .title span {
      color: #ff47a7; }

section:nth-child(even) {
  background-color: #fafafa; }
  section:nth-child(even) .title {
    text-align: start;
    padding-left: 16%; }
  section:nth-child(even) h3,
  section:nth-child(even) p {
    color: #666666 !important; }

section:nth-child(odd) {
  background-color: #f7f7f7 !important; }
  section:nth-child(odd) .title {
    text-align: end;
    padding-right: 16%; }

@media (min-width: 992px) {
  section {
    padding: 10vh 18vw; } }

body {
  font-size: 100%; }

.background {
  background-image: url("../assets/img/image.jpg");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover; }

@media (min-width: 576px) {
  body {
    font-size: 110%; } }

@media (min-width: 768px) {
  body {
    font-size: 120%; } }

@media (min-width: 992px) {
  body {
    font-size: 130%; } }

@media (min-width: 1200px) {
  body {
    font-size: 140%; } }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  body {
    font-size: 150%; } }

.navbar {
  background: #f7f7f7;
  height: 80px; }
  .navbar .container-fluid {
    background: #f7f7f7;
    padding: 1vh 6vw; }
  .navbar .nav-link {
    color: #04111f;
    font-family: "Metrophobic", sans-serif;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase; }
  .navbar .navbar-brand img {
    height: 100%; }

@media (min-width: 992px) {
  .navbar .container-fluid {
    padding: 0 10vw; }
  .navbar .navbar-brand {
    position: absolute; }
  .navbar .nav-link {
    font-size: 0.8em;
    font-weight: 400;
    margin: 0 0.4em; } }

.header {
  min-height: 55vh;
  padding-top: 80px; }
  .header .header__content {
    color: #12466a;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    gap: 1.5rem;
    padding-left: 2rem;
    padding-right: 4rem; }
    .header .header__content .header__subtitle {
      font-size: 1em;
      font-style: normal;
      font-weight: 500;
      letter-spacing: 0.07em;
      line-height: 1.4em;
      text-transform: uppercase; }
    .header .header__content .header__title {
      font-size: 2.4em;
      font-weight: 500;
      letter-spacing: 0em;
      line-height: 1.1em; }
    .header .header__content .header__button {
      background-color: #fff;
      border-color: #fff;
      border-radius: 300px;
      border-width: 0;
      box-shadow: 0 2px 0 0 #ebebeb;
      color: #5c5c5c;
      cursor: pointer;
      font-size: 1em;
      font-weight: bold;
      letter-spacing: 2px;
      padding-bottom: 0.7rem;
      padding-top: 0.6rem;
      text-align: center;
      text-transform: uppercase;
      transition: 0.1s background-color linear;
      width: 12rem; }
    .header .header__content .header__button:hover {
      color: #ff47a7; }

@media (min-width: 576px) {
  .header {
    height: 60vh; }
    .header .header__content {
      padding-left: 6rem;
      width: 75%; } }

@media (min-width: 768px) {
  .header {
    height: 90vh; }
    .header .header__content {
      padding-left: 6rem;
      padding-top: 14vh;
      width: 60%; } }

@media (min-width: 992px) {
  .header {
    height: 100vh; }
    .header .header__content {
      margin-left: 8rem; } }

@media (min-width: 1200px) {
  .header .header__content {
    margin-left: 20vw; } }

/* XX-Large devices (larger desktops, 1400px and up) */
.services .services__title {
  margin-bottom: 1.5em; }

.services .services__subtitle {
  text-align: justify;
  font-size: 1em; }

.services .services__list {
  margin-top: 2em; }
  .services .services__list .service {
    width: 70vw;
    height: auto; }
    .services .services__list .service .service__title {
      text-transform: uppercase;
      font-style: normal;
      font-size: 0.9em;
      line-height: 1.4em;
      letter-spacing: 0.07em;
      font-weight: bold; }
    .services .services__list .service .service__image {
      margin: 1em 0; }
    .services .services__list .service .service__box {
      height: 10em;
      padding: 0 0.2em; }
      .services .services__list .service .service__box .service__description {
        font-weight: 400;
        font-style: normal;
        font-size: 0.9em;
        letter-spacing: 0.3px;
        line-height: 1.6em; }

@media (min-width: 768px) {
  .services {
    gap: 1em; }
    .services .service {
      width: 30vw; }
      .services .service .service__box {
        padding: 0; } }

.gallery .carousel {
  padding: 0vh; }
  .gallery .carousel .carousel-inner {
    border-radius: 8px; }

@media (min-width: 768px) {
  .gallery .carousel {
    padding: 2em; } }

@media (min-width: 992px) {
  .gallery .carousel {
    padding: 0em; } }

@media (min-width: 1200px) {
  .gallery .carousel {
    margin: 4em; } }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .gallery .carousel {
    margin: 6em; } }

.faq .accordion-item {
  background-color: transparent; }

.faq .accordion-header .collapsed {
  background-color: transparent; }

.faq .accordion-header button {
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  text-align: left;
  font-size: 0.7em;
  line-height: initial;
  color: #444444; }

.faq .accordion-body {
  background-color: #fafafa;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  letter-spacing: 0.3px;
  line-height: 1.6em;
  margin: 0;
  padding: 1em;
  border-radius: 2px;
  text-align: left; }

.contact {
  gap: 2.5rem;
  min-height: 75vh; }
  .contact h2.contact__title {
    text-align: center;
    margin-bottom: 0;
    padding: 0; }
  .contact .contact__button:hover {
    color: #ff47a7; }
  .contact .contact__mail {
    margin-top: 6px;
    font-size: 0.7em;
    letter-spacing: 1.5px; }
  .contact .contact__img {
    height: 100%;
    width: 200px; }
  .contact form {
    width: 100%; }
    .contact form button {
      background-color: #ff47a7;
      border-color: #fff;
      border-radius: 300px;
      border-width: 0;
      box-shadow: 0 2px 0 0 #ebebeb;
      color: white;
      cursor: pointer;
      font-size: 1em;
      font-weight: bold;
      letter-spacing: 2px;
      padding: 1.5em;
      padding-bottom: 1rem;
      padding-top: 0.9rem;
      text-align: center;
      text-transform: uppercase;
      transition: 0.1s background-color linear; }

@media (min-width: 992px) {
  .contact .contact__box .contact__img {
    width: 280px; }
  .contact form {
    width: 90%; } }

@media (min-width: 1200px) {
  .contact form {
    width: 75%; } }

@media (min-width: 1400px) {
  .contact form {
    width: 60%; } }

.footer {
  background-color: #fafafa;
  min-height: 20vh; }
  .footer .footer__rights {
    margin: auto;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.07em;
    line-height: 1.4em;
    font-size: 0.5em;
    color: #5c5c5c; }
