.navbar {
  background: $color-background-odd;
  height: 80px;
  .container-fluid {
    background: $color-background-odd;
    padding: 1vh 6vw;
  }
  .nav-link {
    color: #04111f;
    font-family: "Metrophobic", sans-serif;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
  }
  .navbar-brand {
    img {
      height: 100%;
    }
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .navbar {
    .container-fluid {
      padding: 0 10vw;
    }
    .navbar-brand {
      position: absolute;
    }
    .nav-link {
      font-size: 0.8em;
      font-weight: 400;
      margin: 0 0.4em;
    }
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
